/* main.css */

body {
	font-family: Verdana, Geneva, sans-serif;
	margin: 0;
  padding: 0;
	background: url("http://tinyurl.com/zfzzh8n") no-repeat center center fixed; 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}


.dropdown-submenu{
	position: relative;
}
.dropdown-submenu>.dropdown-menu{
	top:0;
	left:100%;
	margin-top:-6px;
	margin-left:-1px;
	-webkit-border-radius:0 6px 6px 6px;
	-moz-border-radius:0 6px 6px 6px;
	border-radius:0 6px 6px 6px;
	border: 1px solid black;

}

.dropdown-submenu.pull-left>.dropdown-menu{
	left:-100%;
	margin-left:10px;
	-webkit-border-radius:6px 0 6px 6px;
	-moz-border-radius:6px 0 6px 6px;
	border-radius:6px 0 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu{
	display:block;
}
.dropdown-submenu>a:after{
	display:block;
	content:" ";
	float:right;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
	border-width:5px 0 5px 5px;
	border-left-color:#cccccc;
	margin-top:5px;
	margin-right:-10px;
	z-index: -1;
}
.dropdown-submenu:hover>a:after{
	border-left-color:#ffffff;
	}
.dropdown-submenu.pull-left{
	float:none;
}


.navbar-default {
	height: 30px;
}

#navigation ul li {
  display: inline-block;
} 


.flex-container {
	display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
	-webkit-flex-wrap: wrap;
  flex-wrap: wrap;
	-webkit-justify-content: center;
  justify-content: center;
	-webkit-align-content: center;
  align-content: center;
  width: 80%;
	
}

.flex_item {
	margin: auto;
}

#title_flex {
	display: -webkit-flex;
  display: flex;
	-webkit-justify-content: space-around;
  justify-content: space-around;
	-webkit-align-items: flex-start;
  align-items: flex-start;
	-webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

#content_flex {
	display: -webkit-flex;
  display: flex;
	-webkit-justify-content: space-around;
  justify-content: space-around;
	-webkit-align-items: flex-end;
  align-items: flex-end;
	-webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

#edit_note_area {
	margin: -20px 50px 1px 50px;
	padding: 40px; 40px; 40px; 40px;
	
}

#old_note_area {
	margin-top: 25px; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
	overflow: hidden;
}

.btn-link {
	width: 70px; 
	margin: 5px;
	position: relative;
	left: 600px;
	text-decoration: none;
}

#menu {
	position: absolute;
	margin: 0 auto;
	top: -23px;
	left: 5px;
	margin-right: 20px;
}

#logo {
	position: absolute;
	margin-left: 20px;
	top: -12px;
	left: 125px;
}

#welcome_username{
	position: absolute;
	top: 14px;
	right: 440px;
	margin: 5px;
}

#search {
	position: absolute;
	top: 9px;
	left: 1050px;
	margin: 2px;
}

#search_nav {
	position: absolute;
	top: 21px;
	left: 923px;
}

#title_area {
	width: 450px;
	position: relative;
	top: 10px;
	left: 145px;
}


#content_area {
	position: relative;
	top: 30px;
	left: 120px;
	width: 450px;
}

#save_note {
	position: relative;
	left: 582px;
	top: 30px;
}
